@import url(https://fonts.googleapis.com/css?family=Lato:300);
html, body{
  //cursor:none;
  margin:0;
  padding:0;
  background:#000;
  font-family: 'Lato', sans-serif;
  font-weight:lighter;
  height:1280vh;
  width:720vw;
  position:fixed;

}
