@import url(https://fonts.googleapis.com/css?family=Lato:300);
body{
  //cursor:none;
  margin:0;
  padding:0;
  background:#000;
  font-family: 'Roboto', sans-serif;
  font-weight:lighter;
  height:100vh;
  width:100vw;
  position:fixed;
}
#homeAnim{
  height:100vh;
  width:100vw;
}
