
//    Font Family

$primary-font	: 'Arial', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #a020f0;
$secondary-color: #49e3ce;
$title-color	: #222222;
$text-color		: #777777;

$white			: #fff;
$black			: #000;
