body{
  font-family: 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Arial', sans-serif;
}

.carousel-caption{
  background-color: rgba(0,0,0,0.2);
}

.aboutUsSection{
  background-color: #111;
}

footer{
  background-color: #111;
  color: #fff;
}

.modal-content{
  background-color: #3399FF;
}

.btn-primary{
  background-color: #3399FF;
}
