body{
  font-family: arial, sans-serif;
  color: #979797
  margin:0;
  padding:0;
}

a{
  outline:none;
  text-decoraction:none;
  color: #979797
}

a:hover{
  font-weight: bold;
}

header .logo{
  padding: 20px 0 0 0;
  float: left;
}

header .logo h1,
header .logo h2{
  font-weight: normal;
  text-transform: none;
  margin: 0;
  padding: 0;
}

header .logo h1{
  font-size: 36px;
}

header .logo h2{
  font-size: 14px;
}

header nav{
  float: right;
  margin: 20px 0 0 0;
  padding: 20px 0;
}

header nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav ul li{
  display: inline;
  margin-right: 25px;
  text-transform: uppercase;
}

header nav ul li.last{
  margin-right: 0;
}
