body{
  font-family: arial, sans-serif;
  color: #979797
  margin:0;
  padding:0;
}

a{
  outline:none;
  text-decoraction:none;
  color: #979797
}

a:hover{
  font-weight: bold;
}

header .logo{
  padding: 20px 0 0 0;
}
